.footer {
    background-color: whitesmoke;
    padding: 7px;
}

.hero.has-background{
    position: relative;
    overflow: hidden; 
}
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    }
.hero-background.is-transparent {
    opacity: 1;
    }
.button{
    opacity: 0.3;
}

.header-title {
    color: white;
    font-family: 'Galada', cursive;
    font-size: 50px;
    /* float: left; */
}

.header-subtitle {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: large;
    /* float:left; */
}
      
.tabs a {
    color: white;
}