.footer {
    background-color: whitesmoke;
    padding: 7px;
}

.hero.has-background{
    position: relative;
    overflow: hidden; 
}
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    }
.hero-background.is-transparent {
    opacity: 1;
    }
.button{
    opacity: 0.3;
}

.header-title {
    color: white;
    font-family: 'Galada', cursive;
    font-size: 50px;
    /* float: left; */
}

.header-subtitle, .tabs {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: large;
    /* float:left; */
}

      
.tabs a {
    color: white;
}

/* currently for hamberger menu */
.is-active{
    background-color: #ca7e7e;
}

#aboutImg{
    height: 200px;
    width:200px;

}

.image.is-64x64 {
    height: 200px;
    width: 200px;
}

.notification.is-warning{
    background-color: #fbc850;
}

.notification.is-primary{
    background-color:#fa7d43;
}

.notification.is-danger{
    background-color: #ca7e7e;
}

.notification.is-yes{
    background-color: Yellow;
}